.main-nav {
    position: fixed;
    top: 100px;
    left: 0;
    width: 94px;
    z-index: 300;
}

.main__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-nav__item {    
    list-style: none;
}

.main-nav__link {
    display: block;
    width: 94px;
    height: 90px;
    font-size: 0;    
    &--home {
        .menu-home();
    }
    &--question {
        .menu-question();
    }
    &--service {
        background-image: url('../image/service.png');
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    &--info {
        .menu-info();
    }
    &--search {
        .menu-search();
    }
    &--subscr {
        .menu-check();
    }
}

@media (min-width: @screen-md) {

}

@media (min-width: @screen-xl) {
    
}