.stitches-sprite(@x: 0, @y: 0) {       
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    background-position: @x @y;    
}  

.menu-home {
    .stitches-sprite(-15px, -15px);
}
.menu-info {
    .stitches-sprite(-15px, -147px);
}
.menu-check {
    .stitches-sprite(-15px, -279px);
}
.menu-question {
    .stitches-sprite(-15px, -410px);
}
.menu-search {
    .stitches-sprite(-15px, -541px);
}
.check {
    .stitches-sprite(-15px, -675px);
}
.lamp {
    .stitches-sprite(-15px, -747px);
}
.engine {
    .stitches-sprite(-15px, -911px);
}
.sheets{
    .stitches-sprite(-15px, -1075px);
}
